html{
  box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body{
  overflow-x: none;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
